{% block content %}
    <div class="container mt-5">
        <h2>Список пользователей</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Имя</th>
                    <th>Email</th>
                    <th>Должность</th>
                    <th>Зарплата</th>
                    <th>Профиль</th>
                </tr>
            </thead>
            <tbody>
                {% for i in users %}
                <tr>
                    <td>{{ i.username }}</td>
                    <td>{{ i.email }}</td>
                    <td>{{ i.position }}</td>
                    <td>{{ i.salary }}</td>
                    <td><a href="{% url 'users:profile' i.id %}" class="btn btn-info">Профиль</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

<form action="{% url 'users:logout' %}" method="POST">
  {% csrf_token %}
  <button type="submit">Выйти из аккаунта</button>
</form>

</body>
</html>