{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>UГлавная</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="shortcut icon"
          href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS9RaqWhNrT68sVwQFo4ZAs1VRsUZImppmaqg&s">
    <link rel="stylesheet" href="{% static 'css/book.css' %}">
</head>
<body>


{% include 'components/header.html' %}

<!-- Контент с карточками -->
<div class="container mt-4 content">
    <div class="row justify-content-center">


        {% for book in books %}
        <!-- Пример карточки книги -->
        <div class="col-md-4 mb-4">
            <div class="card" style="width: 100%;">
                {% if book.image %}
                <img src="{{ book.image.url }}" class="card-img-top" alt="Обложка книги">
                {% else %}
                <img src="{% static 'images/default_book_image.jpg' %}" class="card-img-top" alt="Обложка книги">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ book.title }}</h5>
                    <p class="card-text">{{ book.created_at }}</p>
                    <a href="{% url 'book_detail' pk=book.id %}" class="btn btn-primary">Подробнее</a>
                </div>
            </div>
        </div>
        {% endfor %}
        <!-- Добавьте дополнительные карточки книг здесь -->
    </div>
</div>

{% include 'components/footer.html' %}

</body>
</html>